<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/single-upload-file"
      enctype="multipart/form-data"
      method="post"
    >
      <input type="file" name="myFile" />
      <button type="submit">Upload Single File Image</button>
    </form>
    <form
      action="/multiple-upload-file"
      enctype="multipart/form-data"
      method="post"
    >
      <input type="file" name="myFile" multiple />
      <button type="submit">Upload Multiple File Image</button>
    </form>
  </body>
</html>
